{% extends 'basic.html' %}
{% load static %}
{% load myFilters %}
{% block title %}
Stock Tracker
{% endblock title %}


{% block css %}
<style>
    .green {
        color: green;
    }

    .red {
        color: red;
    }
</style>
{% endblock css %}


{% block body %}
<div class="container mt-10">
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Price</th>
                    <th scope="col">Open</th>
                    <th scope="col">Previous Close</th>
                    <th scope="col">Change </th>
                    <th scope="col">Volume</th>

                    <th scope="col">Market Cap</th>
                </tr>
            </thead>
            <tbody>

                {% for key,value in data.items %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{key}}</td>
                    <td id='{{key}}_price'>{{value|get:'Quote Price'|floatformat:3}}</td>
                    <td id='{{key}}_open'>{{value|get:'Open'|floatformat:3}}</td>
                    <td id='{{key}}_prev_close'>{{value|get:'Previous Close'|floatformat:3}}</td>
                    <td id='{{key}}_change'>
                        <script>
                            var change = document.getElementById('{{key}}_price').innerHTML - document.getElementById('{{key}}_prev_close').innerHTML
                            change = Number((change).toFixed(4));
                            if (change >= 0) {
                                document.getElementById('{{key}}_change').className = 'green';
                            }
                            else {
                                document.getElementById('{{key}}_change').className = 'red';
                            }
                            document.getElementById('{{key}}_change').innerHTML = change
                        </script>
                    </td>
                    <td id='{{key}}_vol'>{{value|get:'Volume'}}</td>

                    <td id='{{key}}_market_cap'>{{value|get:'Market Cap'}}</td>

                </tr>
                {% endfor %}



            </tbody>
        </table>
    </div>


</div>
{{ room_name|json_script:'room-name'}}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    var queryString = window.location.search;
    queryString = queryString.substring(1);
    console.log(queryString)
    const stockSocket = new WebSocket(
        'ws://' +
        window.location.host +
        '/ws/stock/' +
        roomName +
        '/' +
        '?' +
        queryString
    );

    stockSocket.onmessage = function (e) {
        console.log(e.data);
        const data = JSON.parse(e.data);
        console.log(data);
        for (const [key,value] of Object.entries(data)){
            document.getElementById(key + '_price').innerHTML = value['Quote Price'];
            document.getElementById(key + '_open').innerHTML = value['Open'];
            document.getElementById(key + '_prev_close').innerHTML = value['Previous Close'];
            document.getElementById(key + '_vol').innerHTML = value['Volume'];
            document.getElementById(key + '_market_cap').innerHTML = value['Market Cap'];
            document.getElementById(key + '_price').innerHTML = value['Quote Price'];
            var change = document.getElementById(key + '_price').innerHTML + document.getElementById(key + '_prev_close').innerHTML 
            change = Number((change).toFixed(4));
            if (change >= 0) {
                document.getElementById(key + '_change').className = 'green';
            }
            else {
                document.getElementById(key + '_change').className = 'red';
            }
        }
    };
</script>

{% endblock body %}


{% block js %}
<script>

</script>
{% endblock js %}